/* Resources */

@import url("https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

/* Base */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "KoHo", sans-serif;
}

body,
html {
  overflow-y: scroll;
  color: rgb(207, 207, 207);
  background-color: #09091e;
  scroll-behavior: smooth;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #0c0b25;
}

main {
  flex-grow: 1;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.section-title {
  font-size: 36px;
}

.section-sub-title {
  font-size: 24px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  padding: 10px 20px;
  margin: 20px auto 20px;
  border: 1px solid orange;
  background-color: #0c0b25;
  color: yellow;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.8s, text-shadow 0.8s ease;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background-color: #2b025c;
  text-shadow: 0 0 15px #ae4ffc;
}

.projects-btn {
  margin-bottom: 40px;
}

p {
  font-family: "KoHo", sans-serif;
}

ul {
  list-style-type: square;
  font-family: "KoHo", sans-serif;
}

li {
  margin-top: 15px;
}

a {
  color: #ffd700;
  transition: color 0.3s;
  text-decoration: none;
}

a:hover {
  color: #ffff00;
}

a.active {
  font-weight: bold;
  color: #ffff00;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 1rem;
  background-color: #0a1139;
  width: 100%;
}

.navigation nav {
  background-color: #0a1139;
}

.fn-logo {
  display: inline-block;
  margin-left: 10px;
  width: 50px;
}

.menu {
  display: inline-block;
  padding-right: 2rem;
}

nav li {
  display: inline;
  margin: 15px;
}

nav a {
  color: #ffd912;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "KoHo", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  background-color: #0a1139;
}

.footer-container p {
  display: flex;
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0px;
  color: rgb(207, 207, 207);
}

.footer-list {
  display: flex;
  align-items: center;
}

.footer-list ul,
li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

.footer-list li {
  margin: 5px;
}

#nav-toggle {
  display: none;
}

.ham-menu {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0c0b25;
}

::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff7f00;
}

@media (max-width: 960px) {
  nav {
    padding: 2rem;
    background-color: #0a1139;
  }

  .page-container {
    max-width: auto;
    margin: 0;
  }

  ul li {
    padding: 1em 1.5em;
  }

  .ham-menu {
    display: block;
    margin-right: 1rem;
    font-size: 1.5rem;
    z-index: 1;
  }

  .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 0;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: all 0.5s;
  }

  #nav-toggle:checked ~ .menu {
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 6rem;
    bottom: 0;
  }
}

/* Home */

.home-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}

.home-main-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: auto;
  margin-bottom: auto;
}

.home-main-container-left-box,
.home-main-container-right-box {
  margin: 0px 25px 50px 25px;
}

.home-main-container-left-box h2 {
  color: rgb(149, 149, 149);
}

.filip-home-pic {
  border-radius: 50%;
  width: 200px;
}

.home-intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(27, 35, 60, 0.397);
  width: 100%;
  height: auto;
  padding: 25px;
  padding-bottom: 10px;
  margin: 0;
  margin-top: 20px;
}

.home-intro-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}

.h4-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.h4-container > div {
  flex: 1;
  margin-top: 20px;
}

.h4-container h4 {
  margin: 20px;
  font-weight: 400;
}

@media (max-width: 960px) {
  .home-main-container {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 40px;
    align-items: flex-start;
  }

  .home-main-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  .home-main-container-left-box,
  .home-main-container-right-box {
    margin: 15px 0px 15px 0px;
  }

  .home-intro-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(27, 35, 60, 0.397);
    width: 100%;
    height: auto;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .home-intro-container h3 {
    margin-right: 0px;
    margin-left: 10px;
  }

  .home-intro-box {
    width: 100%;
    align-items: center;
  }

  .h4-container {
    width: 100%;
    justify-content: center;
  }

  .h4-container > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* About me */

.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 80px;
  margin-bottom: 20px;
}

.about-me-container-box {
  display: flex;
  align-items: center;
}

.about-me-container-left-box {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-right: 20px;
  margin-left: 200px;
}

.about-me-container-right-box {
  display: flex;
  flex-direction: column;
  background-color: #0d1032a5;
  margin-right: 135px;
  padding: 35px;
  padding-top: 25px;
}

.about-me-container-right-box p {
  display: flex;
  flex-direction: column;
  margin: 0px;
  margin-top: 20px;
}

.filip-about-pic {
  border-radius: 5%;
  width: 325px;
  margin-right: 50px;
}

.tech-intro {
  text-align: center;
  margin-top: 65px;
  padding: 30px;
}

.tech-category-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.tech-category-container h2 {
  display: flex;
  padding: 10px 20px 10px;
  background-color: #0d1032a5;
}

.tech-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #0d1032a5;
}

.tech-icon-container {
  display: flex;
  flex-direction: row;
}

.tech-icon-container i {
  padding: 20px;
  font-size: 50px;
  color: rgb(207, 207, 207);
  transition: transform 0.8s ease, color 0.8s ease, text-shadow 0.8s ease;
}

.tech-icon-container:hover i {
  transform: scale(1.15);
  color: #ffd912;
  text-shadow: 0 0 25px #ae4ffc;
}

.tech-item-container {
  position: relative;
}

.tech-icon-container:hover .tech-label {
  display: block;
}

.tech-label {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0d1032a5;
  color: #d1d1d1;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  z-index: 1;
}

.tech-icon-container:hover .tech-label {
  display: block;
}

@media (max-width: 960px) {
  .about-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .about-me-container-box {
    display: flex;
    flex-flow: row wrap;
  }

  .about-me-container-left-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    margin-bottom: 25px;
    width: 100%;
  }

  .filip-about-pic {
    border-radius: 5%;
    margin: auto;
  }

  .about-me-container-right-box {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: auto;
    max-width: 350px;
  }

  .tech-intro {
    text-align: center;
    margin-top: 30px;
    padding: 30px;
  }

  .projects-btn {
    margin-bottom: 40px;
  }
}

/* Projects */

.projects-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px;
}

.projects-title * {
  padding: 10px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 750px;
}

.projects-container > :last-child {
  margin-bottom: 50px;
}

.project-container-left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d1032a5;
  margin-bottom: 100px;
}

.project-container-right {
  display: flex;
  flex-direction: row-reverse;
  background-color: #0d1032a5;
  margin-bottom: 100px;
}

.projects-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-container-box {
  display: flex;
  flex-direction: column;
}

.projects-img-wrapper {
  display: flex;
  max-width: 50%;
}

.projects-img-wrapper img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  margin-left: 50px;
  margin-right: 50px;
}

.project-description * {
  margin-bottom: 10px;
}

.siemens-gallery-icon {
  border-radius: 50%;
  width: 225px;
}

.siemens-gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(27, 35, 60, 0.397);
  width: 100%;
  height: auto;
  padding: 25px;
  padding-bottom: 10px;
  margin-bottom: 50px;
}

.siemens-gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 50px 50px;
  width: auto;
}

.siemens-gallery-img {
  display: flex;
  max-width: 100%;
}

.spinner {
  border: 7px solid #101b5a;
  border-top: 7px solid #f6cd00;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 960px) {
  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    margin: 0 auto;
  }

  .projects-img-wrapper {
    display: flex;
    max-width: 100%;
  }

  .project-container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 310px;
    margin-top: 0px;
    margin-bottom: 60px;
  }

  .project-container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 310px;
    margin-top: 0px;
    margin-bottom: 60px;
  }

  .project-description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
  }

  .project-description h3 {
    margin: 20px 0;
  }

  .siemens-gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(27, 35, 60, 0.397);
    width: 100%;
    height: auto;
    padding: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .siemens-gallery-wrapper {
    display: flex;
    margin: 10px 10px;
    width: auto;
  }

  .home-main-container-left-box,
  .home-main-container-right-box {
    margin: 15px 15px 15px 15px;
  }
}

/* Experience */

.experience-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px;
}

.experience-title * {
  padding: 10px;
}

.experience-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 650px;
}

.experience-container > :last-child {
  margin-bottom: 50px;
}

.experience-container-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #0d1032a5;
  margin: auto;
  margin-bottom: 100px;
}

.experiences-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience-container-box {
  display: flex;
  flex-direction: column;
}

.experience-img-wrapper {
  display: flex;
  max-width: 50%;
}

.experience-img-wrapper img {
  max-width: 275px;
}

.experience-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  margin-left: 50px;
  margin-right: 50px;
}

.experience-description * {
  margin-bottom: 10px;
}

.experience-modal-content {
  background-color: rgba(11, 11, 37, 0.79);
  margin: 20% auto;
  width: 380px;
  text-align: left;
  padding: 35px;
}

.experience-modal-list ul,
li {
  display: flex;
  justify-content: flex-start;
  list-style-type: square;
}

.experience-modal-list li {
  display: list-item;
  margin-left: 15px;
}

.experience-modal-close {
  text-decoration: none;
  float: right;
  color: #f0f0f3;
  font-size: 2rem;
  font-weight: bold;
  margin: -20px -10px;
}

.experience-modal-close:hover,
.experience-modal-close:focus {
  text-decoration: none;
  color: #ffd912;
  cursor: pointer;
}

@media (max-width: 960px) {
  ul li {
    padding: 0;
    margin-top: 15px;
  }

  .experience-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    margin: 0 auto;
  }

  .experience-img-wrapper {
    display: flex;
    max-width: 100%;
  }

  .experience-container-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    width: 275px;
    margin-top: 0px;
    margin-bottom: 60px;
    padding-bottom: 20px;
  }

  .experience-description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
  }

  .experience-description h2 {
    margin: 35px 0 20px 0px;
  }

  .experience-modal-content h2,
  h3 {
    margin-top: 0px;
  }

  .experience-modal-content p {
    margin-top: 15px;
  }
}

/* Education */

.education-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px;
}

.education-title * {
  padding: 10px;
}

.education-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.education-container > :last-child {
  margin-bottom: 50px;
}

.education-container-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #0d1032a5;
  margin: auto;
  margin-bottom: 100px;
}

.education-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.education-container-box {
  display: flex;
  flex-direction: column;
}

.education-img-wrapper {
  display: flex;
  max-width: 50%;
}

.education-img-wrapper img {
  max-width: 275px;
}

.education-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  margin-left: 50px;
  margin-right: 50px;
}

.education-description * {
  margin-bottom: 10px;
}

.education-modal-content {
  background-color: rgba(11, 11, 37, 0.79);
  margin: 20% auto;
  width: 380px;
  text-align: left;
  padding: 35px;
}

.education-modal-close {
  text-decoration: none;
  float: right;
  color: #f0f0f3;
  font-size: 2rem;
  font-weight: bold;
  margin: -20px -10px;
}

.education-modal-close:hover,
.education-modal-close:focus {
  text-decoration: none;
  color: #ffd912;
  cursor: pointer;
}

@media (max-width: 960px) {
  .education-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
  }

  .education-img-wrapper {
    display: flex;
    max-width: 100%;
  }

  .education-container-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    width: 275px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .education-description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 35px;
  }

  .education-description h2 {
    margin: 0px 0 20px 0px;
  }

  .education-modal-content h2,
  h3 {
    margin-top: 0px;
  }

  .education-modal-content p {
    margin-top: 15px;
  }
}

/* Contact */

.contact-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 400px;
  margin-top: auto;
  margin-bottom: auto;
}

.contact-title {
  display: flex;
  margin: 25px 0px 25px;
  font-size: 26px;
  padding: 0px 50px;
}

.contact-sub-title {
  display: flex;
  font-size: 16px;
  color: rgb(186, 186, 186);
  margin-bottom: 5px;
}

.contact-content {
  display: flex;
}

.contact-input-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-inputs {
  display: flex;
  margin: 10px;
  width: 162px;
  height: 35px;
  margin-bottom: 15px;
  padding-left: 10px;
  border-style: none;
  background-color: rgba(27, 35, 60, 0.397);
  color: rgb(223, 223, 223);
  font-size: 0.9rem;
}

.contact-inputs::placeholder {
  font-family: "KoHo", sans-serif;
  color: #ffd700;
}

.contact-inputs-textfield {
  width: 344px;
  min-width: 344px;
  min-height: 50px;
  max-width: 344px;
  max-height: 500px;
  height: 200px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-left: 10px;
  border-style: none;
  font-family: "KoHo", sans-serif;
  background-color: rgba(27, 35, 60, 0.397);
  color: rgb(223, 223, 223);
  font-size: 0.9rem;
}

.contact-inputs-textfield::placeholder {
  font-family: "KoHo", sans-serif;
  color: #ffd700;
}

.contact-btn-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contact-btn-box button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  margin-bottom: 20px;
  background-color: #0a1139;
  color: #ffd700;
  border-color: #ffd912;
}

.contact-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.contact-icons-container {
  display: flex;
  justify-content: center;
  margin: 20px 0px 20px 0px;
  width: 100%;
  gap: 20px;
}

.contact-icons-container-icon {
  color: #ffd700;
  transition: color 0.3s;
}

.contact-icons-container-icon:hover {
  color: #ffff00;
}

.contact-icons-container-icon.active {
  font-weight: bold;
  color: #ffff00;
}

@media (max-width: 960px) {
  .contact-container {
    margin-top: 35px;
    margin-bottom: 25px;
    max-width: 100vw;
  }

  .contact-inputs {
    display: flex;
    margin: 7px;
    width: 300px;
  }

  .contact-inputs-textfield {
    margin-top: 7px;
    margin-bottom: 0px;
    width: 300px;
    min-width: 300px;
    min-height: 50px;
    max-width: 300px;
  }
}

/* Modal base */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  max-height: 80vh;
  overflow-y: auto;
  background-color: rgba(11, 11, 37, 0.79);
  width: 320px;
  text-align: left;
  padding: 35px;
  padding-top: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content h2,
h3,
h4 {
  margin: 0px 10px 15px 0px;
}

.modal-content p {
  margin: 0;
  margin-top: 15px;
}

/* :target {
  display: block;
} */

.modal-close {
  display: flex;
  text-decoration: none;
  border: none;
  background: none;
  position: absolute;
  top: 35px;
  right: 35px;
  color: #f0f0f3;
  font-size: 20px;
  font-weight: bold;
  margin: -20px -10px;
}

.modal-close:hover,
.modal-close:focus {
  text-decoration: none;
  color: #ffd912;
  cursor: pointer;
}

/* Print styling */

@media print {
  .navigation,
  .footer-container {
    display: none;
  }

  .home-main-container {
    margin-top: 150px;
    margin-bottom: 20px;
  }

  .home-main-container-left-box,
  .home-main-container-right-box {
    margin: 15px;
  }

  .home-intro-container {
    width: 80%;
  }

  .home-intro-box {
    margin: 25px auto;
  }

  a.btn {
    display: none;
  }

  .experience-container-content {
    page-break-after: always;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .experience-img-wrapper {
    order: -1;
  }

  a.experience-btn {
    display: none;
  }

  .education-container-content {
    page-break-after: always;
  }

  a.education-btn {
    display: none;
  }
}
